body {
    
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin:  0 auto;
    padding: 1.6rem 0;
    width: 50rem;
    color: #888888;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main__container {
  flex: 1; 
  font-size: 1.2rem;
}
header> h1 {
   text-transform: uppercase;
   color: #000000;
}
 a {
    outline: none;
    color: #1327dd8a;
    text-decoration: none;
}
.main__container a:hover {
    color: rgb(55, 0, 255);
    cursor: pointer;
}

footer {
    padding: 2rem 2rem;
    font-size: 1.3rem;
    margin: 0 auto;

    border-top: 1px solid #eeeeee;
}
header {
    font-size: 1.2rem;
    padding: 2rem 0;
}
header a {
    padding: 1rem 1rem 0 0;
    text-transform: uppercase;
}
p {
    color: #9e7575;
    padding: 1rem 0;
}
form {
    width: 100%;
    
}
input {
    padding: .5rem 3rem;
    font-size: 1.2rem;
    columns: #000000;
    background-color: #eeeeee;
    border-radius: 5px;
    border-color: transparent;

} input:focus {
    outline: none;
    border: 5px solid #888888;
    
}
input::placeholder {
    font-size: 1.2rem;
    color: #888888;
}

button {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: #888888;
    transition: all .3s;
}
button:hover {
    color: #000000;
    background-color: #888888;
    cursor: pointer;
}
.portrait {
    width: 20rem;
}